<extend name="Base/common"/>
<block name="content">

        <div class="container-fluid">
            <volist name="rows" id="row">
            <div class="row noticeList">
                <a href="{:U('Article/content?id='.$row['id'])}">
                    <div class="col-xs-2">
                        <img class="noticeImg" src="{$row.url}" />
                    </div>
                    <div class="col-xs-10">
                        <p class="title">{$row.title}</p>
                        <p class="intro">{$row.description}</p>
                        <p class="info">浏览: {$row.view} <span class="pull-right">{:date('Y-m-d H:i:s',$row['create_time'])}</span> </p>
                    </div>
                </a>
            </div>
            </volist>
    </div>
</block>