<extend name="Public/base"/>
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>小区通知管理</h2>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">通知id</th>
                <th class="">通知标题</th>
                <th class="">通知描述</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="rows" id="row">
                <tr>
                    <td><input class="ids row-selected" type="checkbox" name="id[]" id="" value="{$row['id']}"> </td>
                    <td>{$row.id}</td>
                    <td>{$row.title}</td>
                    <td>{$row.description}</td>
                    <td>{$row.status_text}</td>
                    <td>
                        <!--<a href="{:U('edit?id='.$row.id)}" class="btn btn-info ajax-get">{$row.status}</a>&ndash;&gt;-->
                        <a class="text-info btn btn-info" href="{:U('save',(['id'=>$row['id'],'status'=>$row['status']]))}">
                            <if condition="$row['status']==1">通过审核
                                <elseif condition="$row['status']==2"/>已审核
                                <else/>已删除
                            </if></a>
                        <a class="ajax-get" href="{:U('del?id='.$row['id'])}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
<div class="page">
    {$page}
</div>
</block>